App {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  }
  .user-name {
  font-family: Roboto;
  font-weight: normal;
  }
  .user-profile-pic {
  height: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  }
  .user-first-name {
  font-weight: bold;
  font-style: italic;
  color: orange;
  }
  .login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 20px auto;
  }
  .dot-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  }
  .counter-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  }
  .counter-container > button {
  font-size: 20px;
  }
  .user-container {
  text-align: center;
  }

  .inlineblock{
    display: inline-block;
    margin: 3rem;
  }