.mau1 {
    left: 16.742081447963802%;
    top: 10.522696011004127%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau2 {
    left: 26.84766214177979%;
    top: 8.872077028885831%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau3 {
    left: 37.20462543991956%;
    top: 18.91334250343879%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau4 {
    left: 7.088989441930618%;
    top: 28.74828060522696%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau5 {
    left: 0%;
    top: 13.75515818431912%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau6 {
    left: 44.19306184012066%;
    top: 0%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 79, 255, 0.20) 0%, rgba(51, 79, 255, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau7 {
    left: 49.72347913524384%;
    top: 0.8940852819807428%;
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau8 {
    left: 10.407239819004525%;
    top: 9.628610729023384%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(229, 46, 112, 0.20) 0%, rgba(229, 46, 112, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.mau9 {
    left: 29.16038210155857%;
    top: 31.224209078404403%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(229, 46, 112, 0.20) 0%, rgba(229, 46, 112, 0.00) 100%);
    width: 50.27%;
    aspect-ratio: 1 / 1;
    position: absolute;
}
