.form-container {
    /* margin: 0 auto; */
    padding: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Customerinformation p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}
.Customerinformation input{
    /* margin: clamp(1rem, 1vw, 10rem); */
    width: clamp(20rem,28vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.luachon p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}

.luachon .cacluachon{
    display: inline-block;
    padding: 1rem;
}